window {
    margin: 0px;
    background-color: #282C34;
    border-radius: 30px;
    border: 2px solid #bd93f9;
}

#input {
    margin: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #44475a;
    border-radius: 30px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282C34;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #282C34;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #EFEFF0;
} 

#entry:selected {
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
}
